/* HomeIndicator */

position: absolute;
height: 34px;
left: 0px;
right: 0px;
bottom: 0px;



/* StatusBar */

position: absolute;
width: 390px;
height: 47px;
left: 0px;
top: 0px;



/* Outline/Interface/Caret left */

position: absolute;
width: 28px;
height: 28px;
left: 23px;
top: 61px;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 297px;
height: 52px;
left: 46px;
top: 268px;

background: #FFFFFF;
border: 1px solid #A2A2A2;
border-radius: 15px;


/* 아이디 */

position: absolute;
width: 76px;
height: 17px;
left: 54px;
top: 244px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
/* or 140% */
letter-spacing: -0.32px;

color: #000000;



/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 297px;
height: 52px;
left: 46px;
top: 368px;

background: #FFFFFF;
border: 1px solid #A2A2A2;
border-radius: 15px;


/* 이메일 */

position: absolute;
width: 76px;
height: 17px;
left: 54px;
top: 344px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
/* or 140% */
letter-spacing: -0.32px;

color: #000000;



/* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 297px;
height: 52px;
left: 46px;
top: 469px;

background: #FFFFFF;
border: 1px solid #A2A2A2;
border-radius: 15px;


/* 비밀번호 */

position: absolute;
width: 76px;
height: 17px;
left: 54px;
top: 445px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
/* or 140% */
letter-spacing: -0.32px;

color: #000000;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 297px;
height: 43px;
left: 46px;
top: 614px;

background: #393939;
border: 1px solid #A2A2A2;
border-radius: 15px;


/* 회원가입 */

position: absolute;
width: 88px;
height: 38px;
left: 151px;
top: 617px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 21px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.32px;

color: #FFFFFF;



/* 로그인 */

position: absolute;
width: 68px;
height: 19px;
left: 34px;
top: 66px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.32px;

color: #000000;

